build
dist
.venv
__pycache__
projects/**/*.png
projects/**/*.jpg
projects/**/*.mp3
projects/**/*.mp4
projects/**/*.ogg
projects/**/*.sav
compile_sdk.py
build_sdk.py
engine.onefile-build
engine.dist
engine.build
update_copyright.py
cert
old
*.kagc
*.aes
*.exe
*.pkg

build
traceback.txt
log.txt
docs
projects/**/*.wav
projects/**/*.mp3
projects/**/*.ogg
engine-error.txt
env.py
*.vsix
node_modules
dev-log.md
 projects/meeting-you-again/.vne_reload
